@charset "utf-8";
.search-history{
  width:100%;
  border-bottom: 1px solid #ddd;
}
.search-history>li{
  display: inline-block;
  color: #000;
  font-size: 14px;
  width: 45%;
  height: 30px;
  padding: 15px 0 0 10px;
}
#clear{
    /*display: block;*/
    /*display: inline-block;*/
    /*padding: 15px 0;*/
    text-align: right;
}

#history{
    font-size: 16px;
    text-align: left;
}

.history{
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
}

.history:first-child{
    border-bottom: 1px solid #ddd;
}
