@charset "utf-8";

body {
	padding-bottom: 7px;
}

.empty{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	position: fixed;
	top: 50%;
	margin-top: -35px;
	width: 100%;
}

.item {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin: 7px 7px 0 7px;
	padding: 7px;
	box-shadow: 3px 3px 3px #ccc;
	background-color: #fafafa;
}

.title {
	font-size: 18px;
	margin-bottom: 5px;
	word-break: break-all;
}

.fileNumber, .fileSize {
	display: inline-block;
	font-size: 14px;
}

.opera {
	text-align: right;
	margin: 5px 0;
}

.copy, .down {
	font-size: 16px;
	display: inline-block;
	color: #666;
	height: 20px;
	line-height: 20px;
}

.copy span, .down span {
	font-size: 20px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.open {
	text-align: right;
}

.open-thunder, .open-115 {
	font-size: 24px;
	display: inline-block;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 3px;
}

.open-thunder span, .open-115 span {
	font-size: 26px;
	display: inline-block;
	color: #666;
	vertical-align: top;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.open-thunder span{
	color:#fff;
	background-color: #666;
}

.open-thunder span.installed{
	background-color: #296cee;
}

.open-115 span.installed {
	color: #085376;
}