@charset "utf-8";

#loading {
    width: 54px;
    height: 60px;
    text-align: center;
    font-size: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -27px;
}

#loading.loaded {
    display: none;
}

#loading > div {
    background-color: #017a25;
    height: 100%;
    width: 6px;
    margin-right: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

#loading > div:last-child {
    margin-right: 0;
}

#loading .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#loading .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loading .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}