@charset "utf-8";

.hot-tips {
    color: #000;
    font-size: 16px;
    margin: 10px 0 10px 10px;
}

.hot-words {
    /*border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;*/
    font-size: 0;
    margin: 5px;

    width:100%;
}

.words {
    display: inline-block;
    /*float: left;*/
    /*width: 40%;*/
    font-size: 14px;
    color: #000;
    /*padding: 5px 0;*/
    padding: 5px 8px;
    margin:5px 10px;
    text-align: center;
    border:1px solid #89211b;
    /*border:1px solid #ccc;*/
    /*border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
    box-sizing: border-box;
    border-radius: 15px;

}
