@charset "utf-8";

html, body {
	height: 100%;
}

#wrap {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	flex-flow: column;
}

#header {
	text-align: center;
	/*background-color: #017a25;*/
	/*background-color: #f0f0f0;*/
	background-color: #89211b;
	/*color: #666;*/
	color: #fff;
	width: 100%;
	/*display: -webkit-box;
	display: -webkit-flex;
	display: flex;*/
}

#back {
	height: 50px;
	width: 30px;
	line-height: 50px;
	/*color: red;*/
	color: #fff;
	float: left;
}
#backs{
	height: 50px;
	width: 30px;
	line-height: 50px;
	color: red;
	float: right;
}
#back span {
	font-size: 24px;
}

#title {
	/*flex: 1;
	-webkit-flex: 1;
	-webkit-box-flex: 1;*/
	height: 50px;
	padding-right: 5px;
	line-height: 50px;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#navbar {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

#main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

/* iscroll */
#wrapper {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller li {
	position: relative;
	display: block;
	float: left;
	width: 120px;
	height: 100%;
	color: #888;
	background-color: #fafafa;
	font-size: 16px;
	box-sizing: border-box;
}

#scroller li:after {
	z-index: 10;
	position: absolute;
	right: -2px;
	content: '|';
	color: #888;
}

#scroller li:last-child:after {
	content: '';
}

#scroller li.loaded {
	color: #017a25;
}

#scroller li.active:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background-color: #017a25;
}
