<!-- <widget id=" A6061528794945" version="0.0.1"> -->
  <widget id="A6064712713607" version="0.0.1">
    <!-- <widget id="A6061528794945" version="0.0.1"> -->
    <name>kmzd</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>
    <!-- <content src="kaiShi.html"/> -->

    <access origin="*"/>

    <backgroundMode name="audio" />

    <preference name="backgroundMode" value="audio"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="#FFFFFF"/>

    <preference name="windowBackground" value="#FFFFFF"/>

    <preference name="frameBackgroundColor" value="#FFFFFF"/>

    <!-- <preference name="hScrollBarEnabled" value="true"/>

    <preference name="vScrollBarEnabled" value="true"/> -->

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>


    <preference name="hScrollBarEnabled" value="false" />
    <preference name="vScrollBarEnabled" value="false" />
    <!-- 配置是否检查https证书是受信任的 -->
    <!-- <preference name="checkSslTrusted" value="false" /> -->

    <preference name="customRefreshHeader" value="UIPullRefreshFlash"/>
    <preference name="checkSslTrusted" value="false" />
    <!-- <preference name="iOS7StatusBarAppearance" value="false" />
    <preference name="statusBarAppearance" value="false" /> -->
    <!-- <preference name="softInputMode" value="auto"/> -->
    <!-- 获取手机通讯录的配置 -->
    <!-- <permission name="contact" /> -->
    <!-- <feature name="qq">
        <param name="urlScheme" value="tencent1106657350"/>
        <param name="apiKey" value="1106657350"/>
    </feature> -->
    <feature name="qq">
        <param name="urlScheme" value="tencent101475744"/>
        <param name="apiKey" value="101475744"/>
    </feature>
    <feature name="wx">
     <param name="urlScheme" value="wxee4b5978056a41ba"/>
     <param name="apiKey" value="wxee4b5978056a41ba"/>
     <param name="apiSecret" value="c0c9662f6327fd8e9308fc66ab371781"/>
   </feature>
    <!-- <feature name="weiXin">
        <param name="urlScheme" value="wxee4b5978056a41ba"/>
        <param name="apiKey" value="wxee4b5978056a41ba"/>
        <param name="apiSecret" value="c0c9662f6327fd8e9308fc66ab371781"/>
    </feature> -->
    <!-- <feature name="weibo">
        <param name="urlScheme" value="bf186e208a6c05113d59a1e1868d3ade"/>
        <param name="apiKey" value="419374056"/>
        <param name="registUrl" value="http://www.apicloud.com"/>
    </feature> -->
    <!-- //多个值之间用英文逗号隔开 -->
      <preference name="querySchemes" value="weixin,sinaweibo" />
      <key>LSApplicationQueriesSchemes</key>
       <array>
          <!-- 微信 URL Scheme 白名单-->
          <string>wechat</string>
          <string>weixin</string>

          <!-- 新浪微博 URL Scheme 白名单-->
          <string>sinaweibohd</string>
          <string>sinaweibo</string>
          <string>sinaweibosso</string>
          <string>weibosdk</string>
          <string>weibosdk2.5</string>

          <!-- QQ、Qzone URL Scheme 白名单-->
          <string>mqqapi</string>
          <string>mqq</string>
          <string>mqqOpensdkSSoLogin</string>
          <string>mqqconnect</string>
          <string>mqqopensdkdataline</string>
          <string>mqqopensdkgrouptribeshare</string>
          <string>mqqopensdkfriend</string>
          <string>mqqopensdkapi</string>
          <string>mqqopensdkapiV2</string>
          <string>mqqopensdkapiV3</string>
          <string>mqzoneopensdk</string>
          <string>wtloginmqq</string>
          <string>wtloginmqq2</string>
          <string>mqqwpa</string>
          <string>mqzone</string>
          <string>mqzonev2</string>
          <string>mqzoneshare</string>
          <string>wtloginqzone</string>
          <string>mqzonewx</string>
          <string>mqzoneopensdkapiV2</string>
          <string>mqzoneopensdkapi19</string>
          <string>mqzoneopensdkapi</string>
          <string>mqzoneopensdk</string>

          <!-- 支付宝  URL Scheme 白名单-->
          <string>alipay</string>
          <string>alipayshare</string>
      </array>
</widget>
