<widget id="A6064712713607" version="0.0.1">
    <!-- <widget id="A6061528794945" version="0.0.1"> -->
    <name>kmzd</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="login.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="true"/>

    <preference name="vScrollBarEnabled" value="true"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <feature name="qq">
        <param name="urlScheme" value="tencent1106657350"/>
        <param name="apiKey" value="1106657350"/>
    </feature>
    <feature name="wx">
     <param name="urlScheme" value="wxee4b5978056a41ba"/>
     <param name="apiKey" value="wxee4b5978056a41ba"/>
     <param name="apiSecret" value="7dda7122b466ec13ab908460df14a410"/>
   </feature>
    <feature name="weibo">
        <param name="urlScheme" value="bf186e208a6c05113d59a1e1868d3ade"/>
        <param name="apiKey" value="419374056"/>
        <param name="registUrl" value="http://www.apicloud.com"/>
    </feature>
</widget>
